//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
       

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define BASE 0
#define NUM  1
#define NAV  2
#define FUN  3

&mt {
  quick-tap-ms = <100>;
  global-quick-tap;
  flavor = "tap-preferred";
  tapping-term-ms = <170>;
};

/ {
	combos {
		compatible = "zmk,combos";
		
		// Basic shortcuts
		combo_capslock {
			timeout-ms = <50>;
			key-positions = <23 24>; // Q, J
			bindings = <&kp CAPS>;
		};
		
		combo_tab {
			timeout-ms = <50>;
			key-positions = <2 3>; // COMMA, DOT
			bindings = <&kp TAB>;
		};
		
		// Tab navigation
		combo_cmd_tab {
			timeout-ms = <50>;
			key-positions = <4 3>; // P, DOT
			bindings = <&kp LG(TAB)>;
		};
		
		combo_ctl_tab {
			timeout-ms = <50>;
			key-positions = <4 5>; // P, Y
			bindings = <&kp LC(TAB)>;
		};
		
		combo_nexttab {
			timeout-ms = <50>;
			key-positions = <5 3>; // Y, DOT
			bindings = <&kp LC(TAB)>;
		};
		
		combo_prevtab {
			timeout-ms = <50>;
			key-positions = <4 2>; // P, COMMA
			bindings = <&kp LS(LC(TAB))>;
		};
		
		// Window management
		combo_nextwin {
			timeout-ms = <50>;
			key-positions = <15 13>; // I, E
			bindings = <&kp LG(GRAVE)>;
		};
		
		combo_prevwin {
			timeout-ms = <50>;
			key-positions = <12 14>; // O, U
			bindings = <&kp LS(LG(GRAVE))>;
		};
		
		// Desktop switching
		combo_nextdesk {
			timeout-ms = <50>;
			key-positions = <24 26>; // J, X
			bindings = <&kp LC(RIGHT)>;
		};
		
		combo_prevdesk {
			timeout-ms = <50>;
			key-positions = <23 25>; // Q, K
			bindings = <&kp LC(LEFT)>;
		};
		
		// Symbols (active on all layers)
		combo_hyphen {
			timeout-ms = <50>;
			key-positions = <18 19>; // T, N
			bindings = <&kp MINUS>;
		};
		
		combo_underscore {
			timeout-ms = <50>;
			key-positions = <29 30>; // W, V
			bindings = <&kp UNDER>;
		};
		
		combo_equals {
			timeout-ms = <50>;
			key-positions = <8 9>; // C, R
			bindings = <&kp EQUAL>;
		};
		
		// Chrome navigation
		combo_chrback {
			timeout-ms = <50>;
			key-positions = <6 8>; // F, C
			bindings = <&kp LG(LBKT)>;
		};
		
		combo_chrforw {
			timeout-ms = <50>;
			key-positions = <7 9>; // G, R
			bindings = <&kp LG(RBKT)>;
		};
		
		combo_tilde {
			timeout-ms = <50>;
			key-positions = <11 12>; // A, O
			bindings = <&kp TILDE>;
		};
		
		combo_pipe {
			timeout-ms = <50>;
			key-positions = <7 17>; // G, H
			bindings = <&kp PIPE>;
		};
		
		// Edit commands
		combo_undo {
			timeout-ms = <50>;
			key-positions = <29 28>; // W, M
			bindings = <&kp LG(Z)>;
		};
		
		combo_selectall {
			timeout-ms = <50>;
			key-positions = <27 28>; // B, M
			bindings = <&kp LG(A)>;
		};
		
		combo_copy {
			timeout-ms = <50>;
			key-positions = <6 7>; // F, G
			bindings = <&kp LG(C)>;
		};
		
		combo_paste {
			timeout-ms = <50>;
			key-positions = <16 17>; // D, H
			bindings = <&kp LG(V)>;
		};
		
		// Android Studio shortcuts
		combo_as_terminal {
			timeout-ms = <50>;
			key-positions = <6 16>; // F, D
			bindings = <&kp LA(F12)>;
		};
		
		combo_as_logcat {
			timeout-ms = <50>;
			key-positions = <10 20>; // L, S
			bindings = <&kp LA(F11)>;
		};
		
		combo_as_run {
			timeout-ms = <50>;
			key-positions = <8 18>; // C, T
			bindings = <&kp LS(F10)>;
		};
		
		combo_as_lineup {
			timeout-ms = <50>;
			key-positions = <13 14>; // E, U
			bindings = <&kp LS(LG(UP))>;
		};
		
		combo_as_linedown {
			timeout-ms = <50>;
			key-positions = <24 25>; // J, K
			bindings = <&kp LS(LG(DOWN))>;
		};
		
		// Delete operations
		combo_delete {
			timeout-ms = <50>;
			key-positions = <17 18>; // H, T
			bindings = <&kp BSPC>;
		};
		
		combo_fordelete {
			timeout-ms = <50>;
			key-positions = <7 8>; // G, C
			bindings = <&kp DEL>;
		};
		
		combo_slash {
			timeout-ms = <50>;
			key-positions = <16 27>; // D, B
			bindings = <&kp LG(FSLH)>;
		};
		
		combo_comment {
			timeout-ms = <50>;
			key-positions = <17 28>; // H, M
			bindings = <&kp FSLH>;
		};
		
		combo_point {
			timeout-ms = <50>;
			key-positions = <28 29>; // 1, 2 positions on NUM layer
			bindings = <&kp DOT>;
			layers = <1>; // Only on NUM layer
		};
		
		// NAV layer specific combos
		combo_deleteword {
			timeout-ms = <50>;
			key-positions = <17 18>; // LEFT, DOWN positions on NAV layer
			bindings = <&kp LA(BSPC)>;
			layers = <2>; // Only on NAV layer
		};
		
		combo_delforward {
			timeout-ms = <50>;
			key-positions = <18 19>; // DOWN, RIGHT positions on NAV layer
			bindings = <&kp LA(DEL)>;
			layers = <2>; // Only on NAV layer
		};
	};

    macros {
        ph_num: ph_num {
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings = <&kp N5 &kp N4 &kp N0 &kp N7 &kp N4 &kp N6 &kp N8 &kp N7 &kp N6 &kp N5>;
		};
		
		michael: michael {
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings = <&kp LS(M) &kp I &kp C &kp H &kp A &kp E &kp L>;
		};
		
		overman: overman {
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings = <&kp LS(O) &kp V &kp E &kp R &kp M &kp A &kp N>;
		};
		
		mi_over: mi_over {
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings = <&kp LS(M) &kp I &kp C &kp H &kp A &kp E &kp L &kp SPACE &kp LS(O) &kp V &kp E &kp R &kp M &kp A &kp N>;
		};
		
		st_addr: st_addr {
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings = <&kp N2 &kp N1 &kp N0 &kp N6 &kp SPACE &kp LS(M) &kp O &kp U &kp N &kp T &kp SPACE &kp LS(C) &kp R &kp A &kp W &kp F &kp O &kp R &kp D &kp SPACE &kp LS(A) &kp V &kp E>;
		};
		
		b_water: b_water {
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings = <&kp LS(B) &kp R &kp I &kp D &kp G &kp E &kp W &kp A &kp T &kp E &kp R>;
		};
		
		work_e: work_e {
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings = <&kp M &kp I &kp C &kp H &kp A &kp E &kp L &kp AT &kp R &kp E &kp L &kp O &kp C &kp I &kp T &kp Y &kp DOT &kp C &kp O &kp M>;
		};
		
		home_e: home_e {
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings = <&kp O &kp V &kp E &kp R &kp M &kp A &kp N &kp DOT &kp M &kp I &kp C &kp H &kp A &kp E &kp L &kp AT &kp G &kp M &kp A &kp I &kp L &kp DOT &kp C &kp O &kp M>;
		};

		git_status: git_status {
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings = <&kp G &kp I &kp T &kp SPACE &kp S &kp T &kp A &kp T &kp U &kp S>;
		};

		and_studio: and_studio {
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings = <&kp LG(SPACE) &macro_wait_time 100 &kp A &kp N &kp D &kp R &kp O &kp I &kp D &macro_wait_time 100 &kp ENTER>;
		};
		
		chrome: chrome {
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings = <&kp LG(SPACE) &macro_wait_time 100 &kp C &kp H &kp R &kp O &kp M &kp E &macro_wait_time 100 &kp ENTER>;
		};
	};

        keymap {
                compatible = "zmk,keymap";
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

                base_layer {
// ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
label= "BASE"                              ;
// ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
//             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
//             ┃     '     ┃     ,     ┃     .     ┃     P     ┃     Y     ┃   ┃     F     ┃     G     ┃     C     ┃     R     ┃     L     ┃
//             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
//             ┃     A     ┃     O     ┃     E     ┃     U     ┃     I     ┃   ┃     D     ┃     H     ┃     T     ┃     N     ┃     S     ┃
// ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
// ┃     Q     ┃     ;     ┃     Q     ┃     J     ┃     K     ┃     X     ┃   ┃     B     ┃     M     ┃     W     ┃     V     ┃     Z     ┃     \     ┃
// ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
//                                     ┃    DEL    ┃    NUM    ┃    NAV    ┃   ┃   ENTER   ┃           ┃   BSPC    ┃
//                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
 bindings = <
// ╷           ╷           ╷           ╷           ╷           ╷           ╷   ╷           ╷           ╷           ╷           ╷           ╷           ╷

                &kp SQT     &kp COMMA   &kp DOT     &kp P       &kp Y           &kp F       &kp G       &kp C       &kp R       &kp L
                &kp A       &kp O       &kp E       &kp U       &kp I           &kp D       &kp H       &kp T       &kp N       &kp S
    &kp Q    &mt LSHFT SEMI &mt LCTRL Q &mt LALT J  &mt LGUI K  &kp X           &kp B       &mt RGUI M  &mt RALT W  &mt RCTRL V &mt RSHFT Z &kp BSLH
                                        &kp DEL     &lt NUM ESC &mo NAV        &mt RGUI RET &kp SPACE   &kp BSPC
                        >;
                };

// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄


                num_layer {
// ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
label= "NUM"                              ;
// ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
//             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
//             ┃     `     ┃     ,     ┃     .     ┃     #     ┃     {     ┃   ┃     }     ┃     7     ┃     8     ┃     9     ┃     *     ┃
//             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
//             ┃     &     ┃     ^     ┃     $     ┃     @     ┃     (     ┃   ┃     )     ┃     4     ┃     5     ┃     6     ┃     +     ┃
// ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
// ┃           ┃     :     ┃     %     ┃     ?     ┃     !     ┃     [     ┃   ┃     ]     ┃     1     ┃     2     ┃     3     ┃     /     ┃           ┃
// ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
//                                     ┃           ┃           ┃           ┃   ┃           ┃     0     ┃     \     ┃
//                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
 bindings = <
// ╷           ╷           ╷           ╷           ╷           ╷           ╷   ╷           ╷           ╷           ╷           ╷           ╷           ╷

                &kp GRAVE   &kp COMMA   &kp DOT     &kp HASH    &kp LBRC        &kp RBRC    &kp KP_N7   &kp KP_N8   &kp KP_N9   &kp KP_MULTIPLY
                &kp AMPS    &kp CARET   &kp DLLR    &kp AT      &kp LPAR        &kp RPAR    &kp KP_N4   &kp KP_N5   &kp KP_N6   &kp KP_PLUS
    &trans     &kp LS(SEMI) &kp PRCNT   &kp QMARK   &kp EXCL    &kp LBKT        &kp RBKT    &kp KP_N1   &kp KP_N2   &kp KP_N3   &kp FSLH    &trans      
                                        &trans      &trans      &trans          &trans      &kp KP_N0   &kp BSLH      
                        >;
                };

// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄


                nav_layer {
// ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
label= "NAV"                               ;
// ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
//             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
//             ┃           ┃   RCLK    ┃   M_UP    ┃   LCLK    ┃  STUDIO   ┃   ┃   ScUp    ┃   G(UP)   ┃    UP     ┃   G(DN)   ┃           ┃
//             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
//             ┃           ┃    M_L    ┃   M_DN    ┃    M_R    ┃  CHROME   ┃   ┃   G(L)    ┃   LEFT    ┃   DOWN    ┃  RIGHT    ┃    G(R)   ┃
// ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
// ┃           ┃  EMAIL1   ┃  EMAIL2   ┃           ┃           ┃           ┃   ┃   ScDn    ┃   A(L)    ┃   LAST    ┃   A(R)    ┃           ┃           ┃
// ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
//                                     ┃           ┃           ┃           ┃   ┃           ┃           ┃           ┃
//                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
 bindings = <
// ╷           ╷           ╷           ╷           ╷           ╷           ╷   ╷           ╷           ╷           ╷           ╷           ╷           ╷

                &trans      &mkp RCLK &mmv MOVE_UP  &mkp LCLK   &and_studio    &msc SCRL_UP &kp LG(UP)  &kp UP     &kp LG(DOWN) &trans
                &trans &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT &chrome   &kp LG(LEFT) &kp LEFT    &kp DOWN   &kp RIGHT    &kp LG(RIGHT)
    &trans      &trans      &trans      &trans      &trans      &trans        &kp SCRL_DOWN &kp LA(LEFT) &none    &kp LA(RIGHT) &trans      &trans         
                                        &trans      &trans      &trans         &trans      &kp C_PP    &trans      
                        >;
                };

// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄


                function_layer {
// ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
label= "FUN"                               ;
// ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
//             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
//             ┃   PHONE   ┃  MICHAEL  ┃           ┃           ┃           ┃   ┃    F12    ┃    F7     ┃    F8     ┃    F9     ┃  VOL_UP   ┃
//             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
//             ┃  ST_ADDR  ┃  OVERMAN  ┃ git_status┃   WORK@   ┃           ┃   ┃    F11    ┃    F4     ┃    F5     ┃    F6     ┃  VOL_DN   ┃
// ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
// ┃           ┃  BWATER   ┃  MI_OVER  ┃           ┃   HOME@   ┃           ┃   ┃    F10    ┃    F1     ┃    F2     ┃    F3     ┃   MUTE    ┃           ┃
// ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
//                                     ┃           ┃           ┃           ┃   ┃           ┃           ┃           ┃
//                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
 bindings = <
// ╷           ╷           ╷           ╷           ╷           ╷           ╷   ╷           ╷           ╷           ╷           ╷           ╷           ╷

                &ph_num     &michael    &trans      &trans      &trans          &kp F12     &kp F7      &kp F8      &kp F9      &kp LS(LA(C_VOL_UP))
                &st_addr    &overman    &git_status &work_e     &trans          &kp F11     &kp F4      &kp F5      &kp F6      &kp LS(LA(C_VOL_DN))
    &trans      &b_water    &mi_over    &trans      &home_e     &trans          &kp F10     &kp F1      &kp F2      &kp F3      &kp C_MUTE  &trans         
                                        &trans      &trans      &trans          &trans      &trans      &trans      
                        >;
                };

        };
};
